<form method="post" name="employessForm" novalidate>
<div class="row">
    <div class="col-xs-6">
       <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">First Name</div>
                    <div class="panel-stage">
                        <input type="text" ng-model="employee.firstName" name="firstName"  required >
                        <span style="color:red" ng-show="employessForm.$submitted || employessForm.firstName.$touched">
                            <span ng-show="employessForm.firstName.$error.required">First Name Required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">Last Name</div>
                    <div class="panel-stage">
                        <input type="text" ng-model="employee.lastName" name="lastName"  required="true">
                        <span style="color:red" ng-show="employessForm.$submitted || employessForm.lastName.$touched">
                            <span ng-show="employessForm.lastName.$error.required">Last Name is required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">Total Experience</div>
                    <div class="panel-stage">
                        <input type="text" ng-model="employee.year_exp" name="year_exp" required="true">
                        <span style="color:red" ng-show="employessForm.$submitted || employessForm.year_exp.$touched">
                            <span ng-show="employessForm.year_exp.$error.required">Experience is required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">Role</div>
                    <div class="panel-stage">
                        <select ng-model="employee.role" ng-options="role for role in roles" name="role" required="true"></select>
                        <span style="color:red" ng-show="employessForm.$submitted || employessForm.role.$touched">
                            <span ng-show="employessForm.role.$error.required">Role is required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">Gender</div>
                    <div class="panel-stage">
                        <select ng-model="employee.gender" name="gender" required="true" ng-options="gender for gender in genders"></select>
                        <span style="color:red" ng-show="employessForm.$submitted || employessForm.gender.$touched">
                            <span ng-show="employessForm.gender.$error.required">Gender are required.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">Billable &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" data-ng-model="employee.billable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">Skills</div>
                    <div class="panel-stage">
                        <!--<input type="text" data-ng-model="skills" id="skills" class="form-control" placeholder="Space Separated Skills" required>-->
                        <tags-input ng-model="employee.skills" name="skills"  display-property="name" ></tags-input>
                        (Press tab to convert text to tag)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-8">Organization</div>
                        </div>
                    </div>
                    <div class="panel-stage">
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="hidden" ng-model="employee.belong_to._id" required="true" >
                                <input name="belong_to" type="text" ng-model="employee.belong_to.name" required="true" class="organizationClass" ng-keyup="autoCompleteOrganization('organizationClass')">
                                <!--<a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteOrganization(project._id)">X</a>-->
                                <span style="color:red" ng-show="employessForm.$submitted || employessForm.belong_to.$touched">
                                    <span ng-show="employessForm.belong_to.$error.required">Organization is required.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-wrapper">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-8">Projects</div>
                            <div class="col-xs-4">
                                <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="addProject()" title="Add Projects">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-stage">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" >
                                    <div class="col-xs-12" ng-repeat="projectTitle in employee.works_for track by $index">
                                        <input type="text" name="works_for" class="projectClass" readonly="true" ng-model="projectTitle.name" required="true"  ng-keyup="autoCompleteProject('projectClass',$index)">
                                        <input type="hidden" ng-model="projectTitle._id"  required="true"  ng-readonly="true">
                                        <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteProject(projectTitle._id)">X</a>
                                    </div>
                                    <div class="col-xs-12" ng-repeat="new in newProject.name track by $index">
                                        <input type="text" name="newProject" ng-model="newProject.name[$index]" class="projectClass" required="true" ng-keyup="autoCompleteProject('projectClass',$index)">
                                        <input type="hidden" ng-model="newProject.id[$index]" required="true">
                                        <a ng-show="newProject.name.length > 1" href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteProjectField($index)">X</a>
                                        <span style="color:red" ng-show="employessForm.$submitted || employessForm.newProject.$touched">
                                            <span ng-show="employessForm.newProject.$error.required">Project is required.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-wrapper">
            <div class="panel-stage">
                <button type="submit" ng-disabled="employessForm.$invalid" class="btn btn-primary text-left" ng-click="save()">Submit</button>
            </div>
        </div>
    </div>
</div>
</form>