<div class="row"><div class="col-md-12">&nbsp;</div></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-wrapper">
            <form method="post" name="employessForm">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-md-10"><h2>Employees</h2></div>
                        <div class="col-md-2">
                            <a ui-sref="auth.employees.add">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-stage">
                    <div class="col-md-12" ui-view></div>
                </div>

            </form>
        </div>
    </div>
</div>
