<div class="row">
    <div class="col-xs-12 col-md-12">
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" >
                <div class="input-group-btn">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>
<div class="row">
<div class="col-xs-12 col-md-4" ng-repeat="employee in employeesList">
    <div class="panel-wrapper">
        <div class="panel-title">
            <a ui-sref="auth.employees.edit({id:employee._id})">{{employee.firstName | camelCase}} {{employee.lastName | camelCase}} </a><span style="float: right" class="badge">{{employee.role}}</span>
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title"></div>
                        <div class="panel-stage grey">
                            <div ng-switch on="employee.gender">
                                <div ng-switch-when="Female">
                                    <img src="images/profile-female.png" class="img-responsive img-circle white">
                                </div>
                                <div ng-switch-when="Male">
                                    <img src="images/profile-male.png" class="img-responsive img-circle white">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">

                        </div>
                        <div class="panel-stage">
                            {{employee.role}} with
                            <span class="badge">{{employee.year_exp}}+ years</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Skills
                        </div>
                        <div class="panel-stage">
                            <li  ng-repeat="skill in employee.skills" class="badge">{{skill.name}}</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Works in <li class="badge" ng-repeat="project in employee.works_for">{{project.name}}</li>
        </div>
    </div>
</div>
</div>
