<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel-wrapper">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-8 col-md-8"><a ui-sref="auth.projects.view({id:project._id})">{{project.name}} </a>:
                        <div class="badge">{{project.total_num_people}}</div> Open Positions
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a ui-sref="auth.projects.edit({id:project._id})"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a ui-sref="auth.projects.delete({id:project._id})">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-stage">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel-wrapper">
                            <div class="panel-title">
                                Red Days
                            </div>
                            <div ng-class="panel-stage">
                                <div class="red-days">{{project.red_days}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel-wrapper">
                            <div class="panel-title">Billable Vs Bench</div>
                            <div class="panel-stage">
                                <canvas id="doughnut" class="chart chart-doughnut" data="chartData" labels="labels" legend="false"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-wrapper">
                            <div class="panel-title">Owners</div>
                            <div class="panel-stage">{{getObjectDataStr(project.owners)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-notes">
                Owned by {{project.belong_to.name}}
            </div>
        </div>
    </div>
</div>