<div class="row">
  <div class="col-xs-12 col-md-12">
    <form>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search by Project name" ng-model="searchText.name">
        <div class="input-group-btn">
          <button class="btn btn-default"><span class="glyphicon glyphicon-filter"></span>Filter</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>
<div class="row">
  <div ng-repeat="item in projectList track by $index | filter:searchText" class="col-md-4">
    <div class="panel-wrapper">
      <div class="panel-title">
          <a ui-sref="auth.projects.view({id:item._id})">{{item.name}} </a>:
          <div class="badge">{{item.total_num_people}}</div> Open Positions
      </div>
      <div class="panel-stage">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel-wrapper">
                    <div class="panel-title">
                        Red Days
                    </div>
                    <div ng-class="{red:item.red_days} panel-stage">
                        <div class="red-days">{{item.red_days}}</div>
                    </div>
                </div>
            </div>
          <div class="col-xs-6">
            <div class="panel-wrapper">
                <div class="panel-title">Billable Vs Bench</div>
                <div class="panel-stage">
                    <canvas id="doughnut" class="chart chart-doughnut" data="chartData[$index]" labels="labels" legend="false"></canvas>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-wrapper">
                    <div class="panel-title">Owners</div>
                    <div class="panel-stage">{{getObjectDataStr(item.owners)}}</div>
                </div>
            </div>
        </div>
      </div>
        <div class="panel-notes">
            Owned by {{item.belong_to.name}}
        </div>
    </div>
  </div>
</div>
